html{
}
body {
  background-color: #F3E0EC;
}
head {
  display: block;
}
header {
  border-bottom: solid 5px;
}
#nav {
  display: block;
  text-align: center;
}
.personphoto {
  height: 20%;
  width: auto;
  border: double;
}
.teamprof {
  display: block;
  border: solid;
  font-family: 'Didact Gothic';
  margin: 2em;
  background-color: #9AC6C5;
}
.person {
  border-bottom: double;
  margin: 3em;
  overflow: auto;
}
.collapsible {
  display: block;
  background-color: #F7CE5B;
  cursor: context-menu;
  padding: 10px;
  width: 100%;
  height: 5em;
  border: none;
  font-size: 15px;
}

.active, .collasbile:hover {
  background-color: #ccc;
}
.collapsiblecontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
